 <div class="container-fluid father " style="height: 1000px" >
      <div class="container-fluid bodyType" style="height: 400px;width: 101%" >
        <h3 class="head text-center">Contact Information</h3>
        <div class="row">

        <!--------Add information table-------->
          <table cellpadding="5" cellspacing="5" border="4" class=" text-center wow fadeInDown">
            <tr>
              <td class="fontType">ID</td>
              <td>
                <input type="text" ng-model="id" class="inputTybe hvr-grow">
              </td>
            </tr>
            <tr>
              <td class="fontType">Name</td>
              <td>
                <input type="text" ng-model="name" class="inputTybe hvr-grow">
              </td>
            </tr>
            <tr>
              <td class="fontType">email</td>
              <td>
                <input type="text" ng-model="email" class="inputTybe hvr-grow">
              </td>
            </tr>
            <tr>
              <td class="fontType">phone</td>
              <td>
                <input type="text" ng-model="quantety" class="inputTybe hvr-grow">
              </td>
            </tr>
            <tr>
              <td class="fontType">Options</td>
              <td class="row">
                <div class="col-md-6">
                  <input type="button" value="Add" ng-click="add()" class="buttonadd btn btn-danger">
                </div>
                <div class="col-md-6">
                  <input type="button" value="Save" ng-click="edit()" class="buttonadd btn btn-danger">
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>


      <!------------------view information table---------->
      <div class="container">
        <div class="row text-center">
          <h3 class="head text-center">Contact Table</h3>
          <table cellspacing="2" border="1" class="tab1 wow fadeInUp">
            <tr>
              <th class="fontType">ID</th>
              <th class="fontType">Name</th>
              <th class="fontType">Email</th>
              <th class="fontType">Phone</th>
              <th class="fontType">option</th>
            </tr>
            <tr ng-repeat="product in listProducts">
              <td class="dataInputStyle">{{product.id}}</td>
              <td class="dataInputStyle">{{product.name}}</td>
              <td class="dataInputStyle">{{product.email}}</td>
              <td class="dataInputStyle">{{product.quantety}}</td>
              <td>
                <div class="row">
                  <div class="col-md-6">
                    <button ng-click="del(product.id)" class="btn-tabl2 btn btn-danger hvr-grow">Delete</button>
                  </div>
                  <div class="col-md-6">
                    <button ng-click="selectEdit(product.id)" class="btn-tabl2 btn btn-info hvr-grow">Edit</button>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>